Automatic Proposal Generator + ChatGPT.blueprint.json
{
    "name": "Automatic Proposal Generator + ChatGPT",
    "flow": [
        {
            "id": 91,
            "module": "tally:watchNewResponse",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 836046
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Final Flow"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:tally",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "eventId",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "submissionId",
                        "type": "text",
                        "label": "Submission ID"
                    },
                    {
                        "name": "respondentId",
                        "type": "text",
                        "label": "Respondent ID"
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "formName",
                        "type": "text",
                        "label": "Form Name"
                    },
                    {
                        "name": "createdAt",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "First Name",
                                "type": "text"
                            },
                            {
                                "name": "Last Name",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Company",
                                "type": "text"
                            },
                            {
                                "name": "What was the outcome of the call ?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Business Description",
                                "type": "text"
                            },
                            {
                                "name": "Problem",
                                "type": "text"
                            },
                            {
                                "name": "Solution",
                                "type": "text"
                            },
                            {
                                "name": "Platforms to use",
                                "type": "text"
                            },
                            {
                                "name": "Timeline",
                                "type": "text"
                            },
                            {
                                "name": "Pricing",
                                "type": "text"
                            },
                            {
                                "name": "PlatformCost",
                                "type": "text"
                            },
                            {
                                "name": "Notes",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "fieldsById",
                        "spec": [
                            {
                                "name": "question_K5j7aV",
                                "type": "text",
                                "label": "First Name"
                            },
                            {
                                "name": "question_L72A6p",
                                "type": "text",
                                "label": "Last Name"
                            },
                            {
                                "name": "question_py2jkB",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_1daZpl",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "question_MNxk7A",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "What was the outcome of the call ?"
                            },
                            {
                                "name": "question_Jp4aWR",
                                "type": "text",
                                "label": "Business Description"
                            },
                            {
                                "name": "question_gdoyk4",
                                "type": "text",
                                "label": "Problem"
                            },
                            {
                                "name": "question_y2aKdx",
                                "type": "text",
                                "label": "Solution"
                            },
                            {
                                "name": "question_XJbV2Y",
                                "type": "text",
                                "label": "Platforms to use"
                            },
                            {
                                "name": "question_8alvRP",
                                "type": "text",
                                "label": "Timeline"
                            },
                            {
                                "name": "question_0BW2Dj",
                                "type": "text",
                                "label": "Pricing"
                            },
                            {
                                "name": "question_zy6p10",
                                "type": "text",
                                "label": "PlatformCost"
                            },
                            {
                                "name": "question_5jA6pE",
                                "type": "text",
                                "label": "Notes"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields by ID"
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3486463
            },
            "filter": {
                "name": "Send Proposal?",
                "conditions": [
                    [
                        {
                            "a": "{{91.fields.`What was the outcome of the call ?`[]}}",
                            "b": "Send Proposal",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're a helpful, intelligent sales assistant."
                    },
                    {
                        "role": "user",
                        "content": "We're an operations agency that builds outreach systems, CRM systems, project management systems, no-code systems, and integrations.\n\nBelow is a loose scope. Turn that scope into a high-quality proposal in JSON. \n\nOur clients are enterprise, so write in a spartan, no-frills tone that implies intelligence. "
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"Flatiron Search Partners is an executive recruiting firm that specializes in high end technology clients.\", \"problem\":\"Right now they're managing all of their leads & projects in a massive Google Sheet. The key issues: their system is disorganized, incapable of scaling, and provides little in the way of accountability. Team members are manually updating fields, copying and pasting data, and there is no single source of truth.\",\"solution\": \"Migration to a dedicated CRM & project management solution like Monday.com, and a bespoke setup that includes a CRM board to handle new leads, alongside a PM board to handle new and ongoing projects. The creation of new records, and various administrative tasks alongside them, will be handled using both built in Monday automations and third party tools. I'll also create a process library of SOPs to improve operations more generally.\", \"tools\":\"Monday.com: CRM/PM platform. Make.com: third party automation tool. Typeform: data entry with good user experience.\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"problemPitch\":\"1. You're using systems that don't scale\\n\\nCurrently, your team spends a ridiculous amount of time manually updating fields in a Google Sheet. This is resource-intensive, inefficient, and tedious—it's easy for a small mistake to cascade into a large one, and this has happened multiple times. Perhaps more importantly, there's no accountability, so when said problems inevitably arise, it's impossible to trace it back to its root and solve it.\\n\\n2. You're doing (and paying) too much\\n\\nGoogle Sheets is free. But the impact on your business has been costly. Given the archaic nature of your current setup, specific daily tasks are difficult to operationalize—leading to a large chunk of your employee/contractor costs going to admin tasks that are easily automatable.\\n\\n3. You're missing a ton of functionality\\n\\nGoogle Sheets is primarily textual, and misses the rich functionality afforded by more intentional CRMs. For instance, you can't assign owners to records, or automatically notify team members when something needs to happen (instead, everyone has to be online all the time \"just in case\"), or take advantage of more effective views to represent data flow.\", \"solutionPitch:\"1. First, I'll migrate & build you a scalable system:\\n\\nI'll help you migrate to Monday.com, a dedicated CRM and project management platform. This will address many of the scalability issues inherent to Google Sheets—your team will be able to assign owners to records, receive notifications on important tasks, and communicate with eachother in a public, accountable way. \\n\\nIn addition, I'll build bespoke automations (both in Monday and using a third party tool, Make.com) to eliminate the need for manual record creation and related administrative functions. This will improve cycle time, better the quality of life of your staff, and decrease the likelihood of a costly error.\\n\\n2. Then, I'll help you improve cost efficiency:\\n\\nNext, we'll operationalize your procedures, add them to a library of SOPs, and begin scoping automated solutions to improve the effectiveness of each task. Much of the knowledge in your company currently exists in conversation or hidden direct messages and threads—turning this into a central, accessible knowledge base will streamline new hire onboarding, significantly improve margins on tasks, and make your team much more flexible.\", \"title\":\"Streamlining Flatiron Search Partners & Migrating to Monday\", \"platformList\":\"Monday.com, Make.com, Typeform\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"Memphis Home Buyers is a residential real estate company that buys (and then flips) homes with recorded payment troubles in the Memphis area.\", \"problem\":\"They have a list of over 50K contacts with homes they could be pitching to but they're not reaching out at all. A simple email campaign would suffice, but all they're doing is calling, and although calling yields higher conversion rates than emails, it's also much more time and resource-intensive. They're generating a small fraction of the revenue they could have been if they ran an omnichannel campaign and used email to qualify. Very underoptimized.\",\"solution\": \"Using a dedicated cold email tool like Instantly to manage a thousand or more outbound emails per day, along with a standardized set of operating procedures for a salesperson to qualify over email. If the lead is qualified, they'll be passed over to their closing team, which will give the lead a call and make a purchase offer within 24hrs. This will multiply their earnings.\", \"tools\":\"Instantly.ai: cold email tool. Make.com: third party automation tool.\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"problemPitch\":\"1. Your current outreach system doesn't scale\\n\\nRight now, your team is manually cold-calling each lead in your database. This is time-intensive (it takes perhaps ten to twenty seconds, minimum, to reach out to each lead) and costly (because you're paying your salespeople per hour to drive you results). While it does work occasionally, this is not a scalable system. A better one would involve omnichannel communication, automatic qualification, and much faster outreach.\", \"solutionPitch:\"1. First, I'll migrate you to Instantly.ai, a high-volume cold email tool\\n\\nI'll migrate all of your contacts to Instantly.ai, the best performing cold email tool on the market. We'll use a cold email campaign to qualify each lead, and make an offer so good that most of your prospects can't help but respond to (i.e we're willing to send them an all-cash offer within 24hrs).\\n\\n2. Then, I'll build you a set of standard operating sales procedures\\n\\nBy tiering your outreach system into two steps—email first, and then a call—we'll significantly improve efficiency and total revenue. As you scale, you'll need a centralized set of documents and operating procedures to let you hire new email staff (setters) and phone operators (closers)—so I'll build one for you. This will let anybody in your team swap roles as needed, and drastically reduce onboarding time, which will be sufficient infrastructure to scale past 7-figures into 10M/yr and beyond.\", \"title\":\"Scalable Omnichannel Sales System for Memphis Home Buyers\", \"platformList\":\"Instantly.ai, Make.com\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"businessDescription\":\"{{91.fields.`Business Description`}}\", \"problem\":\"{{91.fields.Problem}}\", \"solution\":\"{{91.fields.Solution}} and additional notes : {{91.fieldsById.question_5jA6pE}}\", \"tools\":\"{{91.fields.`Platforms to use`}}\"}"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Generate Proposal"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 88,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{63.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 72,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3486463
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're a helpful, intelligent writing assistant."
                    },
                    {
                        "role": "user",
                        "content": "Write 4 sophisticated-sounding milestones & associated timelines for a project proposal. Use the provided solution statement and rough timetable and the following JSON format.\n\n{\"milestone-1\":\"milestone 1 description\",\n\"timeline-1\" : \"timeline 1 description\",\n\"milestone-2\":\"milestone 2 description\",\n\"timeline-2\" : \"timeline 2 description\",\n\"milestone-3\":\"milestone 3 description\",\n\"timeline-3\" : \"timeline 3 description\",\n\"milestone-4\":\"milestone 4 description\",\n\"timeline-4\" : \"timeline 4 description\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"solution\": \"A streamlined, Airtable-based system that lets your team leverage their human capital where it matters most: steering the ship. Your team will add industry search terms (i.e C++ developer) using a simple form, and it'll trigger an outreach workflow.\\n\\nThe workflow will automatically scrape LinkedIn for jobs that have been posted for that position or for people with that role, funnel that data into an enrichment & deliverability pipeline (DropContact, Neverbounce, etc), and begin a coordinated email outreach sequence to push interested candidates to Calendly. \\n\\nReply categorization will be done automatically by AI (GPT-4), and your team will only be alerted when a positive outcome is reached (i.e meeting booked), or if a situation arises that the system doesn't yet know how to deal with - in which case the situation would be added to the categorization system so it handles it effectively in the future.\", \"roughTimetable\":\"3 weeks\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"milestone-1\":\"MVP & Outreach Process Flow\",\n\"timeline-1\" : \"7-10 days\",\n\"milestone-2\":\"Platform Set Up (Airtable, Outreach, GPT-4)\",\n\"timeline-2\" : \"5 days\",\n\"milestone-3\":\"Testing & Iteration\",\n\"timeline-3\" : \"3 days\",\n\"milestone-4\":\"Process Documentation\",\n\"timeline-4\" : \"1 day\"}"
                    },
                    {
                        "role": "user",
                        "content": "{\"solution\":\"{{88.solutionPitch}}\", \"roughTimetable\":\"{{91.fields.Timeline}}\"}"
                    }
                ],
                "max_tokens": "300",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Generate Milestones/Timelines"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 73,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{72.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 90,
            "module": "pandadoc:createADocuments",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3497577
            },
            "mapper": {
                "name": "Proposal for {{91.fields.`First Name`}} {{91.fields.`Last Name`}}",
                "send": true,
                "fields": {
                    "MM / DD / YYYY": "05/26/2025"
                },
                "tokens": {
                    "QTY": "1",
                    "Client.Email": "{{91.fields.Email}}",
                    "PLATFORMDESC": "{{88.platformList}}",
                    "PLATFORMFEES": "{{91.fields.PlatformCost}}",
                    "PROJECTPRICE": "{{91.fields.Pricing}}",
                    "Sender.Email": "abhiram.founder@primeadagency.com",
                    "PLATFORMPRICE": "{{91.fields.PlatformCost}}",
                    "Client.Company": "{{91.fields.Company}}",
                    "Sender.Company": "Prime Ad Agency",
                    "Client.LastName": "{{91.fields.`Last Name`}}",
                    "Client.Solution": "{{88.solutionPitch}}",
                    "Sender.LastName": "Bharadwaj",
                    "Client.FirstName": "{{91.fields.`First Name`}}",
                    "Sender.FirstName": "Abhiram",
                    "client.Timeline1": "{{73.`timeline-1`}}",
                    "client.Timeline2": "{{73.`timeline-2`}}",
                    "client.Timeline3": "{{73.`timeline-3`}}",
                    "client.Timeline4": "{{73.`timeline-4`}}",
                    "halfprojectprice": "{{0.5 * 91.fields.Pricing}}",
                    "client.Milestone1": "{{73.`milestone-1`}}",
                    "client.Milestone2": "{{73.`milestone-2`}}",
                    "client.Milestone3": "{{73.`milestone-3`}}",
                    "client.Milestone4": "{{73.`milestone-4`}}",
                    "Client.ProblemArea": "{{88.problemPitch}}",
                    "totalpricehalfprice": "{{0.5 * 91.fields.Pricing}}",
                    "CLIENT.PROJECTDESCRIPTION": "{{88.title}}"
                },
                "message": "{{88.title}}",
                "subject": "Proposal for {{91.fields.`First Name`}} {{91.fields.`Last Name`}}",
                "template": "LErHE6LaTpZeKBrMYKWGqB",
                "folder_uuid": "/MxPGHEpQmp6DSHVYMLxq9F"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Send Proposal"
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "images": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "template": {
                            "mode": "chose",
                            "label": "FINAL PROPOSAL PLAN AND TIMELINE "
                        },
                        "recipients": {
                            "mode": "chose"
                        },
                        "folder_uuid": {
                            "mode": "chose"
                        },
                        "content_placeholders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "My PandaDoc Final connection (abhiram.founder@primeadagency.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Document Name",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "send",
                        "type": "boolean",
                        "label": "Send a document",
                        "required": true
                    },
                    {
                        "name": "folder_uuid",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "images",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Image Block Name",
                                "required": true
                            },
                            {
                                "name": "urls",
                                "type": "url",
                                "label": "Image URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Document Metadata"
                    },
                    {
                        "name": "content_placeholders",
                        "spec": [
                            {
                                "name": "block_id",
                                "type": "select",
                                "label": "Block ID",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "content_library_items",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Content Library Item ID",
                                        "dynamic": true,
                                        "options": {
                                            "store": []
                                        },
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Content Library Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Content Placeholders"
                    },
                    {
                        "name": "tokens",
                        "spec": [
                            {
                                "name": "Sender.Email",
                                "type": "email",
                                "label": "Role: Sender Email",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Client.Email",
                                "type": "email",
                                "label": "Role: Client Email",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "CLIENT.PROJECTDESCRIPTION",
                                "type": "text",
                                "label": "Token: CLIENT PROJECTDESCRIPTION"
                            },
                            {
                                "name": "Client.Company",
                                "type": "text",
                                "label": "Role: Client  Company ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.FirstName",
                                "type": "text",
                                "label": "Role: Client  First Name ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.LastName",
                                "type": "text",
                                "label": "Role: Client  Last Name ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.ProblemArea",
                                "type": "text",
                                "label": "Role: Client  Problem Area ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Client.Solution",
                                "type": "text",
                                "label": "Role: Client  Solution ",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "PLATFORMDESC",
                                "type": "text",
                                "label": "Token: PLATFORMDESC"
                            },
                            {
                                "name": "PLATFORMFEES",
                                "type": "text",
                                "label": "Token: PLATFORMFEES"
                            },
                            {
                                "name": "PLATFORMPRICE",
                                "type": "text",
                                "label": "Token: PLATFORMPRICE"
                            },
                            {
                                "name": "PROJECTPRICE",
                                "type": "text",
                                "label": "Token: PROJECTPRICE"
                            },
                            {
                                "name": "QTY",
                                "type": "text",
                                "label": "Token: QTY"
                            },
                            {
                                "name": "Sender.Company",
                                "type": "text",
                                "label": "Role: Sender  Company ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Sender.FirstName",
                                "type": "text",
                                "label": "Role: Sender  First Name ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "Sender.LastName",
                                "type": "text",
                                "label": "Role: Sender  Last Name ",
                                "metadata": {
                                    "role": "Sender"
                                }
                            },
                            {
                                "name": "client.Milestone1",
                                "type": "text",
                                "label": "Token: Client  Milestone 1 "
                            },
                            {
                                "name": "client.Milestone2",
                                "type": "text",
                                "label": "Token: Client  Milestone 2 "
                            },
                            {
                                "name": "client.Milestone3",
                                "type": "text",
                                "label": "Token: Client  Milestone 3 "
                            },
                            {
                                "name": "client.Milestone4",
                                "type": "text",
                                "label": "Token: Client  Milestone 4 "
                            },
                            {
                                "name": "client.Timeline1",
                                "type": "text",
                                "label": "Token: Client  Timeline 1 "
                            },
                            {
                                "name": "client.Timeline2",
                                "type": "text",
                                "label": "Token: Client  Timeline 2 "
                            },
                            {
                                "name": "client.Timeline3",
                                "type": "text",
                                "label": "Token: Client  Timeline 3 "
                            },
                            {
                                "name": "client.Timeline4",
                                "type": "text",
                                "label": "Token: Client  Timeline 4 "
                            },
                            {
                                "name": "halfprojectprice",
                                "type": "text",
                                "label": "Token: Halfprojectprice "
                            },
                            {
                                "name": "totalpricehalfprice",
                                "type": "text",
                                "label": "Token: Totalpricehalfprice "
                            }
                        ],
                        "type": "collection",
                        "label": "Tokens"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "MM / DD / YYYY",
                                "type": "text",
                                "label": "Sender MM / DD / YYYY"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "recipients",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            },
                            {
                                "name": "first_name",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "last_name",
                                "type": "text",
                                "label": "Last name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 93,
            "module": "pandadoc:downloadADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3497577
            },
            "mapper": {
                "document": "{{90.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "document": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "My PandaDoc Final connection (abhiram.founder@primeadagency.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "document",
                        "type": "select",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "3"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 92,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "folder": "Send Proposals",
                "account": 3498124,
                "accountImap": 3498120,
                "saveAfterSent": true
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{91.fields.Email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Personalized Proposal</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; color: #333333; line-height: 1.6;\">\n    <p>Hello {{91.fields.`First Name`}},</p>\n\n    <p>\n      Please find attached your personalized proposal for <strong>{{91.fields.Company}}</strong>.\n    </p>\n\n    <p>\n      As a thank-you for considering us, we're excited to offer you a <strong>10% discount</strong> if you confirm your project within the next 7 days. It’s our way of helping you get started with even more value.\n    </p>\n\n    <p>\n      If you have any questions or would like to schedule a call to walk through the proposal, feel free to reach out at any time.\n    </p>\n\n    <p>\n      Best regards,<br />\n      Abhiram<br />\n      CEO & Founder - Prime Ad Agency\n    </p>\n\n    <hr style=\"border: none; border-top: 1px solid #dddddd; margin: 30px 0;\" />\n\n    <p style=\"font-size: 0.9em; color: #777777;\">\n      This proposal is confidential and intended solely for {{91.fields.Company}}. Offer valid for 7 days from receipt.\n    </p>\n  </body>\n</html>\n",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Proposal for {{91.fields.`First Name`}} {{91.fields.`Last Name`}} - {{91.fields.Company}}",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [
                    {
                        "cid": "",
                        "data": "{{93.data}}",
                        "fileName": "{{93.filename}}"
                    }
                ],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "folder": {
                            "label": "Send Proposals"
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (abhiram.founder@primeadagency.com)"
                        },
                        "accountImap": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (abhiram.founder@primeadagency.com)"
                        },
                        "saveAfterSent": {
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "accountImap",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}